<!DOCTYPE html>
<meta http-equiv=content-type content="text/html; charset=utf-8">
<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name=viewport>
<title>About</title>
<meta name=description content="Personal website of Ashish Patel
">
<script type="text/javascript">
    //<![CDATA[
    try {
        if (!window.CloudFlare) {
            var CloudFlare = [{
                verbose: 0,
                p: 0,
                byc: 0,
                owlid: "cf",
                bag2: 1,
                mirage2: 0,
                oracle: 0,
                paths: {
                    cloudflare: "/cdn-cgi/nexp/dok3v=1613a3a185/"
                },
                atok: "dfeb281e1154f2c1e858217679ac7663",
                petok: "88b1f9a0611c6c6a6a6b751c73465603ea674cbd-1498554917-1800",
                zone: "ashish.me",
                rocket: "a",
                apps: {}
            }];
            document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js"><' + '\/script>');
        }
    } catch (e) {};
    //]]>
</script>
<link rel=stylesheet href=/css/main.css>
<link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<link rel=canonical href=https://ashish.me/about/>
<link rel=manifest href=/manifest.json>
<link rel="shortcut icon" href=https://ashish.me/images/logos/favicon.ico>
<link rel=icon type=image/png href=https://ashish.me/images/logos/logo.png>
<section class="hero is-primary">
    <div class=hero-head>
        <div class=nav>
            <div class=container>
                <div class=nav-left>
                    <a class=logo href=https://ashish.me>
                        <svg width=50 height=50 viewbox="0 0 512 512" version=1.1 xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink xmlns:figma=http://www.figma.com/figma/ns>
                            <g id=Canvas transform="translate(-837 419)" figma:type=canvas>
                                <g id=Component style=mix-blend-mode:normal figma:type=symbol>
                                    <g id=Ellipse style=mix-blend-mode:normal;isolation:isolate figma:type=ellipse>
                                        <use id=logohover xlink:href=#path0_fill transform="translate(837 -419)" fill=#DD4A68 style=mix-blend-mode:normal></use>
                                        <mask id=mask0_outline_ins>
                                            <use xlink:href=#path0_fill fill=white transform="translate(837 -419)"></use>
                                        </mask>
                                        <g mask=url(#mask0_outline_ins)>
                                            <use xlink:href=#path1_stroke_2x transform="translate(837 -419)" fill=#FFFFFF style=mix-blend-mode:normal></use>
                                        </g>
                                    </g>
                                    <g id="Vector 2" style=mix-blend-mode:normal figma:type=vector>
                                        <use xlink:href=#path2_fill transform="translate(1126.91 -260.997)" fill=#FFFFFF style=mix-blend-mode:normal></use>
                                    </g>
                                    <g id=Vector style=mix-blend-mode:normal figma:type=vector>
                                        <use xlink:href=#path3_fill transform="translate(917.738 -260.997)" fill=#FFFFFF style=mix-blend-mode:normal></use>
                                    </g>
                                </g>
                            </g>
                            <defs>
                                <path id=path0_fill d="M 512 256C 512 397.385 397.385 512 256 512C 114.615 512 0 397.385 0 256C 0 114.615 114.615 0 256 0C 397.385 0 512 114.615 512 256Z"></path>
                                <path id=path1_stroke_2x d="M 492 256C 492 386.339 386.339 492 256 492L 256 532C 408.431 532 532 408.431 532 256L 492 256ZM 256 492C 125.661 492 20 386.339 20 256L -20 256C -20 408.431 103.569 532 256 532L 256 492ZM 20 256C 20 125.661 125.661 20 256 20L 256 -20C 103.569 -20 -20 103.569 -20 256L 20 256ZM 256 20C 386.339 20 492 125.661 492 256L 532 256C 532 103.569 408.431 -20 256 -20L 256 20Z"></path>
                                <path id=path2_fill d="M 79.4614 0L 0 0L 0 56.3237L 79.4614 56.3237C 90.4725 60.7502 95.3064 69.8017 96.347 73.7742C 102.023 92.1609 87.4549 103 79.4614 106.121L 0 106.121L 0 161.878L 79.4614 161.878C 108.408 157.905 128.321 142.346 134.659 135.063C 160.086 108.732 155.47 67.9101 149.983 50.7907C 136.816 16.1736 97.4822 2.50643 79.4614 0Z"></path>
                                <path id=path3_fill d="M 122.03 11.834L 0 205.491L 60.4071 205.491L 122.03 109.681L 122.03 205.491L 180.287 205.491L 180.287 11.834C 156.221 -7.00678 129.692 -0.556265 122.03 11.834Z"></path>
                            </defs>
                        </svg>
                    </a>
                </div><span class=nav-toggle onclick="this.classList.toggle('is-active');javascript: document.querySelector('.nav-menu').classList.toggle('is-active');"><span></span><span></span><span></span></span>
                <div class="nav-right nav-menu"><a class="nav-item if contains endif is-tab" href=/>Home</a><a class="nav-item if contains endif is-tab" href=https://blog.ashish.me>Blog</a><a class="nav-item if contains endif is-tab" href=/projects>Projects</a><a class="nav-item if contains endif is-tab" href=/experiments>Labs</a><a class="nav-item if contains endif is-tab" href=/about>About</a><a class="nav-item if contains endif is-tab" href=https://ashish.me/docs/resume.pdf>Resume</a></div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-primary is-medium banner">
    <div class=hero-content>
        <div class="container has-text-centered profilecontainer">
            <div class=columns>
                <div class=column></div>
                <div class="column is-half">
                    <h1 class="title is-2">About</h1>
                    <p class=subtitle>
                </div>
                <div class=column></div>
            </div>
        </div>
    </div>
    <div class="tabs is-centered is-boxed">
        <ul>
            <li class=is-active><a>Profile</a>
            <li><a href=/about/books>Books</a>
            <li><a href=/about/courses>Courses</a></ul>
    </div>
</section>
<section class=section>
    <div class=container>
        <br>
        <div class="level-item columns"><img class=image src="https://gravatar.com/avatar/8f26bdf641b1318ce33d8b69aa4afbae?s=256" style="border-radius: 50%;box-shadow: 0 0 10px rgba(0,0,0,0.4)"></div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class=columns>
            <div class="column is-one-quarter">
                <h2 class="subtitle has-text-left">About</h2></div>
            <div class=column>
                <div class="columns is-multiline">
                    <div class=column>
                        <p class=is-medium>My name is Ashish Patel. I am a Software Developer and an aspiring UI/UX Designer. I am currently trying my hand at developing iOS, Android and Mac apps. I would enjoy the opportunity to collaborate on your next project, so drop me an email or a tweet and lets get to work!</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class=columns>
            <div class="column is-one-quarter">
                <h2 class="subtitle has-text-left">Skills</h2></div>
            <div class=column>
                <div class="columns is-multiline">
                    <div class=column><strong><p>#Mobile</strong>
                        <ul>
                            <li>Objective-C
                            <li>Swift
                            <li>Android
                            <li>React Native
                        </ul>
                    </div>
                    <div class=column><strong><p>#Front End</strong>
                        <ul>
                            <li>HTML
                            <li>CSS
                            <li>SASS
                            <li>Javascript
                            <li>PUG
                            <li>Stylus
                            <li>JQuery</ul>
                    </div>
                    <div class=column><strong><p>#Back End</strong>
                        <ul>
                            <li>PHP
                            <li>Javascript
                            <li>Python</ul>
                    </div>
                    <div class=column><strong><p>#Editors</strong>
                        <ul>
                            <li>Atom
                            <li>Visual Studio Code
                            <li>PyCharm</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class=columns>
            <div class="column is-one-quarter">
                <h2 class="subtitle has-text-left">Work</h2></div>
            <div class=column>
                <div class="columns is-multiline">
                    <div class=column>
                        <div style="background:white !important" class=box>
                            <article class=media>
                                <div class=media-left>
                                    <figure class="image is-64x64"><img src=/images/logos/nitor.png alt=Image></figure>
                                </div>
                                <div class=media-content><strong class="subtitle is-4">Nitor Infotech</strong>
                                    <p>June 2016 - Present</div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class=footer>
    <div class=container style=color:#fefefe>
        <div class=columns>
            <div class=column><img src=/images/logos/logo.svg height=100 width=100 style=margin-left:20px;margin-top:10px>
                <p class="title is-4" style=color:white>ashish.me</div>
            <div class=column><b><p style="border-bottom: 2px solid white;margin-bottom: 15px">LINKS</b>
                <ul>
                    <li><a href=/about/books>Books</a>
                    <li><a href=/experiments>Labs</a>
                    <li><a href=/projects>Projects</a>
                    <li><a href=/about/courses>Courses</a></ul>
            </div>
            <div class=column><b><p style="border-bottom: 2px solid white;margin-bottom: 15px">FOLLOW</b>
                <ul>
                    <li><a href=https://linkedin.com/in/ashishdotme>Linkedin</a>
                    <li><a href=https://twitter.com/ashishdotme>Twitter</a>
                    <li><a href=https://facebook.com/ashishdotme>Facebook</a>
                    <li><a href=https://github.com/ashishdotme>Github</a>
                    <li><a href=https://instagram.com/ashishdotme>Instagram</a></ul>
            </div>
            <div class="column is-one-third"><b><p style="border-bottom: 2px solid white;margin-bottom: 20px">UPDATES</b>
                <form name=subscribe action=https://tinyletter.com/ashishdotme method=post target=popupwindow onsubmit="window.open('https://tinyletter.com/ashishdotme', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input class=input placeholder="Email address" name=email>
                        <p class=control>
                            <input type=hidden value=1 name=embed>
                            <input class="button is-primary" type=submit value=Subscribe>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class=columns>
            <div class=column>
                <p>© 2017 Ashish Patel. Contact me at ashishsushilpatel@gmail.com</div>
        </div>
    </div>
</footer>
<script data-rocketsrc="https://code.jquery.com/jquery-3.1.1.min.js" type="text/rocketscript"></script>
<script data-rocketsrc="https://ashish.me/scripts/main.min.js" type="text/rocketscript"></script>skills