
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass";

//@import "~font-awesome"; #TODO: why we can't do this(error not readable)
@import "/node_modules/font-awesome/css/font-awesome.css";

//template specific styles
@import "linea";

@import "et-line-icons";

@import "owl.carousel";

//for overriding styles
@import "style";
